<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% if (groups.length > 0) { %>
    <h1>Groups List (<%= groups.length %>)</h1>
    <% } else { %>
    <h1>No groups yet...</h1>
    <% } %> <% if (newGroupButton.url && newGroupButton.title) { %>
    <a href="<%= newGroupButton.url %>"><%= newGroupButton.title %></a>
    <% } %> <% if (groups.length > 0) { %>
    <ul>
      <% groups.forEach(group => { %>
      <li>
        <a href="/groups/<%= group.id %>"><%= group.name %></a>
      </li>
      <% }) %>
    </ul>
    <% } %>
  </body>
</html>
