<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Details</title>
  </head>
  <body>
    <% if (student) { %>
    <form action="/delete-student" method="POST">
      <button type="submit">Delete Student</button>
      <input type="hidden" name="studentId" value="<%= student._id %>" />
    </form>

    <a href="/edit-student/<%= student._id %>">Edit Student</a>

    <h1><%= student.name %> <%= student.surname %></h1>

    <% if (student.age) { %>
    <p>Age: <%= student.age %></p>
    <% } %>

    <p>ID: <%= student._id %></p>

    <% if (student.interests && student.interests.length > 0) { %>
    <div>
      <h2>Interests:</h2>
      <ul>
        <% student.interests.forEach(interest => { %>
        <li><%= interest %></li>
        <% }) %>
      </ul>
    </div>
    <% } %> <% if (student.group) { %>
    <div>
      <h2>Group:</h2>
      <p><%= student.group.name %></p>
    </div>
    <% } %>

    <a href="/students">Back to students</a>
    <% } else { %>
    <h1>Student not found</h1>
    <p>
      Student with ID <span style="color: red"><%= student._id %></span> was not
      found.
    </p>
    <a href="/students">Back to students</a>
    <% } %>
  </body>
</html>
